aistore[etl]>=1.22.0
filetype
keras
numpy
pandas
pillow
pyarrow
pyyaml
requests
scikit-image
scipy
pytest
tensorflow; python_version < "3.14"
soundfile
opencv-python
aiofiles
kaggle
typing-extensions>=4.3.0